<% layout("/layouts/boilerplate") %>



<div class="hero text-center">

    <h1>Welcome to ShopEase</h1>

    <p class="lead">
        Discover amazing products at the best prices.
    </p>

    <a href="/products" class="btn btn-primary btn-lg">
        Shop Now
    </a>

</div>

<div class="row mt-5">

    <div class="col-md-3">

        <div class="card shadow-sm">

            <img src="https://picsum.photos/300/200"
                 class="card-img-top">

            <div class="card-body">

                <h5>Product 1</h5>

                <p>$99</p>

                <a href="#" class="btn btn-primary">
                    View
                </a>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <img src="https://picsum.photos/301/200"
                 class="card-img-top">

            <div class="card-body">

                <h5>Product 2</h5>

                <p>$120</p>

                <a href="#" class="btn btn-primary">
                    View
                </a>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <img src="https://picsum.photos/302/200"
                 class="card-img-top">

            <div class="card-body">

                <h5>Product 3</h5>

                <p>$150</p>

                <a href="#" class="btn btn-primary">
                    View
                </a>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <img src="https://picsum.photos/303/200"
                 class="card-img-top">

            <div class="card-body">

                <h5>Product 4</h5>

                <p>$200</p>

                <a href="#" class="btn btn-primary">
                    View
                </a>

            </div>

        </div>

    </div>

</div>