body{
    background:#f8f9fa;
}

.hero{
    background:white;
    padding:80px 20px;
    border-radius:15px;
    text-align:center;
    margin-bottom:50px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.card{
    transition:.3s;
    margin-bottom:30px;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    height:220px;
    object-fit:cover;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}